<h1>プロフィール編集</h1>

<%= form_for @user, url: update_profile_path, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :icon_image %><br>
    <%= f.file_field :icon_image %>
  </div>

  <div>
    <%= f.label :name, "ユーザー名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :introduction, "紹介文" %><br>
    <%= f.text_area :introduction %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to '戻る', profile_path %>
